.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App .navbar {
  padding: 15px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App .add-form {
  background-color: skyblue;
  padding: 35px;
  text-align: center;
}
.App .add-form label,
input {
  margin: 5px;
}

.App .add-form button {
  width: 80px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.App .jet-list {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.App .jet-list .jet  {
  background-color: lightskyblue;
  border-radius: 10px;
}

.App .jet-list .jet  * {
  margin: 10px;

}
